.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 6rem;
  letter-spacing: 10px;
}

.slogan {
  margin: 2rem 0 0 0;
  font-size: 1.2rem;
  letter-spacing: 4px;
  color: #666;
  font-weight: 200;
}

.social {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 15px;
  padding-bottom: 1rem;
}
